img {
    margin-bottom: 200px;
    transition: all 0.5s;
}
/*obrot*/
.rotate img{
    transform: rotate(20deg);
}
/*przysunięcie*/
.translate img {
    transform: translate(200px, 100px)
} 
/*skalowanie*/
.scale img:hover {
    transform: scale(1.3);
}
/*animacja*/
.animation img {
    animation-name: resize;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes resize{
    0%, 100% {
        height: 300px;
    }
    50% {
        height: 50px;
    }
}