body{
    margin: 0;
    
}
* {
    margin-bottom: 50px;
}
/*div w divie*/
#zewnetrzny {
    background-color: aqua;
    height: 300px;
    width: 300px;
    margin: 20px;
    position: relative;
}
#wewnetrzny {
    position: absolute;
    height: 50%;
    width: 50%;
    background-color: bisque;
    top: 25%;
    transform: translateX(50%);
}

/*fonts awesome*/
.button-font {
    background-color: aquamarine;
    border: 2px solid aquamarine;
    border-radius: 50%;
    line-height: 100px;
    height: 100px;
    width: 100px;
    display: inline-block;
    text-align: center;
    font-size: 50px;
    color: #fff;
}
.button-font:hover{
    background-color: white;
    color: aquamarine;
}
/*gradient horyzontalny*/
#gradient {
    width: 100%;
    height: 150px;
    background: linear-gradient(to right,red, orange, yellow,green,blue,violet);
}
/*responsywne video*/
#responsive-video {
    position: relative;
}
#responsive-video video {
    width: 100%;
    max-width: 100%;
}

/*font awesome jako znacznik listy*/
ul {
    list-style: none;
}
ul li{
    margin-bottom: 20px;
}
li.fa-hand-bullet::before {
    font-family: 'FontAwesome';
    content: "\f0a4";
    margin-right: 5px;
    color: forestgreen;
}

/*zmiana koloru czcionki placeholdera */
input {
    display:block;
    margin-left: 10px;
    margin-bottom: 10px;
}
input[type='text']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder{
    color: red;
}
input[type='text']::-moz-placeholder {
    color: green;
}
input[type='email']::placeholder,
input[type='text']::placeholder {
    color: gold;
}

/*zmiana koloru dla linku z roznym rozszerzeniem*/
a{
    text-decoration: none;
    line-height: 30px;
}
a[href$=".doc"]{
    color: red;
}
a[href$=".docx"]{
    color: yellow;
}
a:hover {
    text-decoration: underline;;
}
/*zmiana wygladu cytatow dla roznych jezykow i angielskiego osobno*/

q[lang*='en'], blockquote[lang*='en']{
    quotes: "*" "*";
}

q[lang*='en']::before, blockquote[lang*='en']::before {
    content: open-quote;
}
q[lang*='en']::after, blockquote[lang*='en']::after {
    content: close-quote;
}
q:not([lang*='en']), blockquote:not([lang*='en']){
    quotes: "\0022" "\0022";
}

q:not([lang*='en'])::before, blockquote:not([lang*='en'])::before {
    content: open-quote;
}
q:not([lang*='en'])::after, blockquote:not([lang*='en'])::after {
    content: close-quote;
}

/*stopka przypieta do dolnej krawedzi*/
#content {
    height: 200vh;
    width: 100%;
    background: linear-gradient(to bottom,red,orange, yellow,green,blue);
}
footer {
    height: 50px;
    background-color: burlywood;
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin-bottom: 0;
    
}
/*powiekszanie zdjecia po najechaniu myszka*/
#first-image {
    background-image: url('../img/gory-w-polsce-morskie-oko_331458.jpg');
}
.img-container {
    width: 700px;
    height: 500px;
    border: 5px solid red;
    overflow: hidden;
}
.img-container .img-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
}
.img-container:hover .img-background {
    transform: scale(1.5);
}
/*bijace serce w napisie*/

.heart-beat {
    text-align: center;
    font-size: 3em;
}
.fa-heart {
    color: red;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
/*kurtyna przy ladowaniu strony*/
.container {
    width: 100%;
    height: 100vh;
    background-color:bisque;
    position: relative;
}
.curtain{
    height: 50vh;
    width: 100%;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.top {
    background-color: firebrick;
    animation-name: top-down;
}

.bottom {
    position: absolute;
    background-color: darkslategrey;
    top: 50%;
    animation-name: bottom-up;
}
@keyframes top-down {
    0% {
        height: 0vh;
    }
    100%{
       height: 50vh; 
    }
}
@keyframes bottom-up {
    0% {
        top: 100%;
    }
    100% {
        top: 50%;
    }
}
/*parallax*/
section {
    margin-bottom: 0px;
}

/*
* {
    margin:0; 
}
*/

.content-section {
    background-color: beige;
    overflow: hidden;
    padding: 100px;
}
.parallax {
    background-image: url(../img/zdjecie-tlo-fb-092.jpg);
    height: 300px;
    background-attachment: fixed;
    background-size: cover;
}
.parallax-second {
    background-image: url(../img/4925309ee0abfee29cbcc1b7d1c64a58.JPG);
    height: 300px;
    background-attachment: fixed;
    background-size: cover;
}
/*dwustronny box obracajacy sie*/

.box { 
    height: 300px;
    width: 300px;
    margin: 20px;
    display: inline-block;
    position: relative;
}
.box-in {
    position: absolute;
    height: 100%;
    width: 100%;
    transition:  all 0.5s;
}
.box-front {
    background-color: orange;
    z-index: 1;
    backface-visibility: hidden;
}
.box-back {
    background-color: blue;
    transform: rotateY(180deg);
}
.box:hover .box-front {
    transform: rotateY(180deg);
}
.box:hover .box-back {
    transform: rotateY(0deg);
}
/*sekcja podzielona na cztery kolumny*/
.zewnetrzny-kontener {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.column {
    height: 100vh;
    width: 25%;
    display: inline-block;
    float: left;
    transition: all 0.5s linear;
}
.background{
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
.column:hover {
    width: 40%;
}
.container:hover .column:not(:hover){
    width: 20%;
}
#background-1{
    background-color: aqua;
}
#background-2{
    background-color: bisque;
}
#background-3{
    background-color: aqua}
#background-4{
    background-color: bisque;
}
/*animowany preloader*/
.cala-strona {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: darkseagreen;
}
.pole-animacji {
    background-color: darkseagreen;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.kwadrat {
    height: 30px;
    width: 30px;
    background-color: white;
    position: absolute;
}
.kwadrat:first-child {
    top: 0;
    left: 0;
    animation: load-one;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.kwadrat:last-child {
    bottom: 0;
    right: 0;
    animation: load-two;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes load-one {
    0% {
        top: 0;
        left: 0;
        height: 30px;
        width: 30px;
    }
    25%{
        top: 70px;
        left: 0;
        height: 15px;
        width: 15px;
    }
     50%{
        top: 70px;
        left: 70px;
        height: 30px;
        width: 30px;
    }
      75%{
        top: 0px;
        left: 70px;
        height: 15px;
        width: 15px;
    }
     100%{
        top: 0px;
        left: 70px;
        height: 30px;
        width: 30px;
    }
}
