body{
    margin: 0;
    
}
* {
    margin-bottom: 50px;
}
/*div w divie*/
#zewnetrzny {
    background-color: aqua;
    height: 300px;
    width: 300px;
    margin: 20px;
    position: relative;
}
#wewnetrzny {
    position: absolute;
    height: 50%;
    width: 50%;
    background-color: bisque;
    top: 25%;
    transform: translateX(50%);
}

/*fonts awesome*/
.button-font {
    background-color: aquamarine;
    border: 2px solid aquamarine;
    border-radius: 50%;
    line-height: 100px;
    height: 100px;
    width: 100px;
    display: inline-block;
    text-align: center;
    font-size: 50px;
    color: #fff;
}
.button-font:hover{
    background-color: white;
    color: aquamarine;
}
/*gradient horyzontalny*/
#gradient {
    width: 100%;
    height: 150px;
    background: linear-gradient(to right,red, orange, yellow,green,blue,violet);
}
/*responsywne video*/
#responsive-video {
    position: relative;
}
#responsive-video video {
    width: 100%;
    max-width: 100%;
}

/*font awesome jako znacznik listy*/
ul {
    list-style: none;
}
ul li{
    margin-bottom: 20px;
}
li.fa-hand-bullet::before {
    font-family: 'FontAwesome';
    content: "\f0a4";
    margin-right: 5px;
    color: forestgreen;
}

/*zmiana koloru czcionki placeholdera */
input {
    display:block;
    margin-left: 10px;
    margin-bottom: 10px;
}
input[type='text']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder{
    color: red;
}
input[type='text']::-moz-placeholder {
    color: green;
}
input[type='email']::placeholder,
input[type='text']::placeholder {
    color: gold;
}

/*zmiana koloru dla linku z roznym rozszerzeniem*/
a{
    text-decoration: none;
    line-height: 30px;
}
a[href$=".doc"]{
    color: red;
}
a[href$=".docx"]{
    color: yellow;
}
a:hover {
    text-decoration: underline;;
}
/*zmiana wygladu cytatow dla roznych jezykow i angielskiego osobno*/

q[lang*='en'], blockquote[lang*='en']{
    quotes: "*" "*";
}

q[lang*='en']::before, blockquote[lang*='en']::before {
    content: open-quote;
}
q[lang*='en']::after, blockquote[lang*='en']::after {
    content: close-quote;
}
q:not([lang*='en']), blockquote:not([lang*='en']){
    quotes: "\0022" "\0022";
}

q:not([lang*='en'])::before, blockquote:not([lang*='en'])::before {
    content: open-quote;
}
q:not([lang*='en'])::after, blockquote:not([lang*='en'])::after {
    content: close-quote;
}

/*stopka przypieta do dolnej krawedzi*/
#content {
    height: 200vh;
    width: 100%;
    background: linear-gradient(to bottom,red,orange, yellow,green,blue);
}
footer {
    height: 50px;
    background-color: burlywood;
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin-bottom: 0;
    
}
/*powiekszanie zdjecia po najechaniu myszka*/
#first-image {
    background-image: url('../img/gory-w-polsce-morskie-oko_331458.jpg');
}
.img-container {
    width: 700px;
    height: 500px;
    border: 5px solid red;
    overflow: hidden;
}
.img-container .img-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
}
.img-container:hover .img-background {
    transform: scale(1.5);
}
/*bijace serce w napisie*/

.heart-beat {
    text-align: center;
    font-size: 3em;
}
.fa-heart {
    color: red;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}