#first-image {
    background-image: url('../img/gory-w-polsce-morskie-oko_331458.jpg');
}
.img-container {
    width: 700px;
    height: 500px;
    border: 5px solid red;
    overflow: hidden;
}
.img-container .img-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
}
.img-container:hover .img-background {
    transform: scale(1.5);
}