body {
    margin: 0;
}
#zewnetrzny {
    position: relative;
    text-align: center;
}

.kontener {
    display: inline-block;
    height: 360px;
    width: 660px;
    padding: 3px;
    margin-top: 10px;
}
img {
    position: relative;
    left: 2px;
}
p {
    position: absolute;
    display: inline-block;
    width: 648px;
    transform: translate(-100%);
    top: 40%;
    font-size: 30px;
    color: white;
    background-color: rgba(0,0,0, 0.6);
}
.kontener::before {
    content: " ";
    display: block;
    position: absolute;
    width: 660px;
    height: 0px;
    top: 5px;
}
.kontener::after {
    content: " ";
    position: absolute;
    display: block;
    width: 660px;
    height: 0px;
    bottom: 5px;
}

.kontener:hover p,
.kontener:hover::before,
.kontener:hover::after {
    transition: all 1s linear;
}
.kontener:hover::before{
    height: 50%;
    border: 2px solid black;
    border-bottom: none;
}
.kontener:hover::after {
    height: 50%;
    border: 2px solid black;
    border-top: none;
}
.kontener:hover p{
    font-size: 40px;
    width: 660px;
    transform: translate(-99%);
}
