body {
    margin: 0;
}
#zewnetrzny {
    position: relative;
    text-align: center;
    display: block;
    width: auto;
}
img {
    padding: 5px;
    width: 700px;
}
p {
    position: absolute;
    display: block;
    top: 40%;
    left: 328px;
    font-size: 40px;
    color: white;
    width: 710px;
    background: rgba(0,0,0,0.7);
}
img:hover {
    border: 2px solid black;
}