* {
    margin-left: 10px;
}
div {
    font-size: 25px;
    font-weight: 500;
}
div #kupno-waluty,
div #sprzedaz-waluty {
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    width: 75px;
}
/*ikonki */
.wzrost,,
.spadek,
.stala-wartosc{
    margin-left: 5px;
    margin-bottom: 5px;
}
.wzrost{
    color: green;
}
.spadek{
    color: red;
}
.stala-wartosc{
    color: skyblue;
}
/*sprzedaz*/


/*przycisk*/
input {
    width: 200px;
    height: 40px;
    font-size: 15px;
    background-color: ;
    cursor: pointer;
    border: 2px solid gold;
    outline: 0;
    margin-top: 30px;
}
